

/* label color */
 .input-field label {
   color: #ef6c00 ;
 }

 .input-field input[type=text]{
    color:black;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ef6c00 ;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
   color:black;
 }



.theLogo{
  height:50px;
}

.mainheading{
  font-size:60px;
  margin-top: 50px;
  color:white;
}
.subheading{
  margin-bottom:40px;
}
.bottomoutside{
  padding:20px;
  padding-top:0px;
}
.bottominside{
  padding:10px;
  padding-top:0px;
  margin-bottom:5px;
}
.autotitles{
  font-size: 25px;
}



@media only screen and (max-width:720px){
  #belowtheVid{
    margin-top: 10px;
  }

}
@media only screen and (max-width:900px){
  #belowtheVid{
    margin-top: 10px;
  }

}
@media only screen and (max-width:1300px) {
  .autotext{
    font-size: 14px;
  }
}
@media only screen and (max-width:1200px) {
  .autotitles{
    font-size: 20px;
  }
  .autotext{
    font-size: 12px;
  }
}
@media only screen and (max-width:1100px){
  #belowtheVid{
    margin-top: 10px;
  }
  .autotitles{
    font-size: 18px;
  }

}


@media only screen and (max-width:1000px){
  #belowtheVid{
    margin-top: 10px;
  }


}

@media only screen and (max-width : 600px) {

#belowtheVid{
  margin-top: 10px;
}

.theLogo{
  height:42px;
}
.mainheading{
  font-size:35px;
  margin-top:80px;
  color:white;
}

.subheading{
  font-size:17px;
  margin-bottom:30px;
}
.parralaxheader{
  font-size: 24px;
}
.parallaxtext{
  font-size: 16px;
}

} // end media 600
