#iframeVideo{
  width:400px;
  height:200px;
}

.containerMain{
  margin-left:5%;
  margin-right:5%;
}

#theframe{

  width:280px;
  height:300px;

}

#paddingonTop{
  margin-top:0px;
}


/* label color */
 .input-field label {
   color: #ef6c00 ;
 }

 .input-field input[type=text]{
    color:black;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ef6c00 ;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
   color:black;
 }



.theLogo{
  height:50px;
}

.mainheading{
  font-size:60px;
  margin-top: 50px;
  color:white;
}
.subheading{
  margin-bottom:40px;
}
.bottomoutside{
  padding:20px;
  padding-top:0px;
}
.bottominside{
  padding:10px;
  padding-top:0px;
  margin-bottom:5px;
}
.autotitles{
  font-size: 25px;
}



@media only screen and (max-width:700px){
  #belowtheVid{
    margin-top: 10px;
  }


}
@media only screen and (max-width:900px){
  #belowtheVid{
    margin-top: 10px;
  }
  #theframe{
    width:180px;
    height:200px;
  }

}
@media only screen and (max-width:970px){
  #belowtheVid{
    margin-top: 10px;
  }
  #theframe{
    width:180px;
    height:200px;
  }

}
@media only screen and (max-width:1300px) {
  .autotext{
    font-size: 14px;
  }
}
@media only screen and (max-width:1200px) {
  .autotitles{
    font-size: 20px;
  }
  .autotext{
    font-size: 12px;
  }
  #theframe{
    width:250px;
    height:280px;
  }
}
@media only screen and (max-width:1100px){
  #belowtheVid{
    margin-top: 10px;
  }
  .autotitles{
    font-size: 18px;
  }
  #theframe{
    width:230px;
    height:250px;
  }

}

@media only screen and (min-width:1920px){

}


@media only screen and (max-width:1000px){
  #belowtheVid{
    margin-top: 10px;
  }
  #theframe{
    width:200px;
    height:210px;
  }


}

.partnerlogomain{
  height:50px;
}
.partnerlogomain2{
  height:30px;
}

@media only screen and (max-width : 600px) {

  #paddingonTop{
    margin-top:15px;
  }


  #iframeVideo{
    width:100%;
    height:150px;
  }

  .partnerlogomain{
    height:30px;
  }
  .partnerlogomain2{
    height:20px;
  }

#belowtheVid{
  margin-top: 10px;
}

.theLogo{
  height:42px;
}
.mainheading{
  font-size:35px;
  margin-top:80px;
  color:white;
}

.subheading{
  font-size:17px;
  margin-bottom:30px;
}
.parralaxheader{
  font-size: 24px;
}
.parallaxtext{
  font-size: 16px;
}

} // end media 600
