

/* label color */
 .input-field label {
   color: #ef6c00 ;
 }

 .input-field input[type=text]{
    color:black;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: #ef6c00 ;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #000;
   box-shadow: 0 1px 0 0 #000;
   color:black;
 }



.theLogo{
  height:50px;
}

.mainheading{
  font-size:60px;
  margin-top: 50px;
  color:white;
}
.subheading{
  margin-bottom:40px;
}



@media only screen and (max-width : 600px) {

.theLogo{
  height:42px;
}
.mainheading{
  font-size:35px;
  margin-top:80px;
  color:white;
}

.subheading{
  font-size:17px;
  margin-bottom:30px;
}
.parralaxheader{
  font-size: 24px;
}
.parallaxtext{
  font-size: 16px;
}

} // end media 600
